.title {
    height: 27px;
    left: 534px;
    top: 191px;
    font-family: "Nunito Sans", sans-serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 27px !important;
    display: flex;
    align-items: center;
}

.titleDescription {
    height: 19px;
    left: 534px;
    top: 228px;
    font-family: "Nunito Sans", sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    display: flex;
    align-items: center;
}
