@use "../../../../App.scss" as app;
@use "../../../../basecolor" as bc;

.step1Container {
    flex-direction: column;
    margin-bottom: 25px;
}

.tabTitle {
    font-family: "Nunito Sans" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #163a50 !important;
}
.activeTabTitle {
    @extend .tabTitle;
    color: #4b68ef !important;
}
