.linkOpenApi {
    font-family: "Nunito Sans" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #4b68ef !important;
}

.contentText {
    font-family: "Nunito Sans" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #163a50 !important;
}

.actionContentText {
    font-family: "Nunito Sans" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #4b68ef !important;
}
