.inputField {
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px 10px 8px;
    gap: 10px;
    width: -webkit-fill-available;
    height: 2.6vw !important;
    background: #ffffff;
    border: 1px solid #d4d5d6;
    border-radius: 8px;
    max-height: 69px;
}

.inputLabel {
    height: 16px;
    left: 534px;
    top: 342px;
    font-family: "Nunito Sans", sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: flex;
    align-items: center;
    color: #163a50 !important;
}

.inputLabelPopup {
    @extend .inputLabel;
    font-weight: 600 !important;
}

.requiredField::after {
    content: "*";
    color: #df4d4d;
}

.dropDownInput {
    background-color: #e4e2e2;
    div {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        input {
            padding: 0 !important;
            height: 2.6vw !important;
        }
        input:disabled {
            -webkit-text-fill-color: #163a50 !important;
        }
    }
}
