@use "../../basecolor" as bc;

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonPrevious {
  margin-right: 5px !important;
  background-color: #ffffff !important;
  color: bc.$primary !important;
}

.buttonPreviousArrow {
  color: bc.$primary !important;
}

.buttonNext {
  margin-left: 5px !important;
}

.buttonNextDisabled {
  @extend .buttonNext;
  background-color: bc.$dark-disabled !important;
}

.whatsappLogo,
.youtubeLogo {
  height: 30px;
}
